{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="cards">
    <section class="card">
        <h2>Statistics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo iusto eveniet rerum praesentium tempora impedit neque! Distinctio debitis possimus animi.</p>
    </section>
    <section class="card">
        <h2>Fixtures & Results</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo iusto eveniet rerum praesentium tempora impedit neque! Distinctio debitis possimus animi.</p>
    </section>
    <section class="card">
        <h2>Tips & Advice</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo iusto eveniet rerum praesentium tempora impedit neque! Distinctio debitis possimus animi.</p>
    </section>
</div>
{% endblock %}
