{% extends "layout.html" %}

{% block title %}
    Tips
{% endblock %}

{% block main %}
<div class="title">
    <h4>Tips</h4>
</div>
<div class="title">
        GW 24: Nick Pope(£5.5m)
    </div>
<div class="blog-box">
    <div class="pope-image"></div>
    <div class="paragraph">
        <p>With an impressive haul of 102 points to date, second only to Emi Martinez, Nick Pope has already provided good value in the seaon to date to those who weren't put off by the price tag. But his double gameweek fixtures of CRY(A) and FUL(H), followed up by WBA(H) in GW25 make him irresistable for the upcoming run of fixture, with some bold managers even talking of giving him the armband for GW24. Whilst I think this could be a step too far, it shows the points potential he holds going into this gameweek against 2 of the worst offences in the league. Not only is Pope a shoe-in for a double clean sheet this gameweek, but the Burnley #1 averages plenty of saves and regularly strikes bonus points due to the Burnley play style.</p>
    </div>

</div>

{% endblock %}
